    body {
        background-color: rgba(0, 0, 0, 0.85);
        font-family: 'Open Sans', sans-serif!important;
        color: white;
        margin: 0;
        padding: 16px;
        width: auto!important;
        height: auto!important;
    }
    
    h1 {
        margin-top: 0;
    }
    
    .image-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .picture {
        position: relative;
        height: 100px;
        width: 100px;
        margin: 8px;
        cursor: pointer;
    }
    
    .picture img {
        height: 100px;
        width: 100px;
    }
    
    .overlay {
        background-color: slateblue;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .hideOverlay {
        z-index: -10;
    }
    
    .player-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 16px;
        color: rgba(255, 255, 255, 0.25);
    }
    
    .player h3 {
        font-size: 24px;
        margin: 0;
    }
    
    .material-icons {
        font-size: 48px;
    }
    
    .active {
        font-weight: 600;
        color: white;
    }
    
    .active span {
        font-size: 56px;
    }
    
    .counter {
        display: flex;
    }
    
    .animation {
        animation: zoomIn 750ms ease-in-out;
        z-index: 10;
    }
    
    @keyframes zoomIn {
        from {
            transform: scale(1.0);
        }
        to {
            transform: scale(1.15);
        }
    }
    
    .found {
        filter: brightness(60%);
    }
    
    .add-player {
        color: white;
        background-color: slateblue;
        border-radius: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 32px;
        margin-top: 16px;
    }
    
    input {
        margin-bottom: 5px;
    }
    
    .d-none {
        display: none;
    }
    
    @media screen and (max-width: 800px) {
        body {
            padding: 0;
        }
        h1 {
            display: none;
        }
    }